@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie odpowiadającej za kontakty</h1>
    <p>Aby wyszukać pożądany kontakt wejdź do zakładki kontakty</>.</p>
</div>
